HOST=#0.0.0.0
PORT=#3000

NUXT_APP_BASE_URL=#/

NUXT_SERVER_URL=#http://site.com
NUXT_CLIENT_URL=#http://site.com
NUXT_SITE_URL=#http://site.com

NUXT_ROBOTS=#'{ "Disallow": "/", "User-Agent": "*" }'
