.git
.github

node_modules
.pnpm-store
.tmp
.runtime
.strapi
.strapi-updater.json
.strapi-cloud.json
dist
build
coverage

.env
.env.*
!.env.example

public/uploads/*
!public/uploads/.gitkeep

*.log
*.sqlite
*.sqlite3
exports
.vscode
.idea
.DS_Store
