.container {
  width: 100%;
  max-width: em(1440);
  padding-inline: em(50);
  margin-inline: auto;
  overflow: hidden;

  @include media-breakpoint-down(md) {
    padding-inline: em(20);
  }
}

.container-article {
  width: 100%;
  max-width: em(936);
  margin: 0 auto;

  @include media-breakpoint-down(md) {
    padding: 0 em(32);
  }

  @include media-breakpoint-down(sm) {
    padding: 0 em(16);
  }
}
