/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

* {
  -webkit-tap-highlight-color: transparent;
  min-width: 0;
  min-height: 0;

  &:focus {
    outline: none;
  }

  &, &::before, &::after {
    box-sizing: border-box;
  }
}

[type="text"],
[type="email"],
[type="tel"],
[type="number"],
[type="password"],
[type="search"],
[type="url"],
textarea {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  appearance: textfield;
  appearance: none;
  outline: none;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button,
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    appearance: none;
  }

  &::placeholder {
    color: inherit;
    opacity: 1;
  }

  &:focus {
    &::placeholder {
      opacity: 1;
    }
  }

  &[hidden] {
    display: none;
  }
}

textarea {
  resize: none;
}

button {
  display: block;
  padding: 0;
  margin: 0;
  overflow: visible;
  font: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
  outline: none;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;

  &:disabled {
    pointer-events: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  display: block;
}

hr {
  margin: 0;
}

img, picture {
  display: block;
}

picture > img {
  width: 100%;
  height: 100%;
  object-fit: inherit;
  object-position: inherit;
}
